@model searcher.Utils.HTMLTOPDF.Searcher.Respuesta
@{
    ViewBag.Title = "Index2";
}

<div id="contenedor" class="container">
    <div class="row">
        <div class="col-sm-3">
            <nav class="row">
                <ul>
                    <li>
                        @using(Html.BeginForm()){
                            <input type="text" name="text" id="buscador" placeholder="Buscar" />
                        }      
                    </li>
                    @foreach (var item in Model.ubicacion)
                    {
                        <li data-bind="click: Change" id="btnMove" data-pag="@item.pagina" data-left="@item.coordenada" >
                            <div class="barra"></div>
                            <p class="menu">@item.cadenas </p>
                        </li>		 
                    }
                </ul>
            </nav>
        </div>

        <div class="col-sm-9">
            <div class="row">
                <h3>Nombre del archivo</h3>
                <hr />
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe id="vizor" class="embed-responsive-item" data-bind="attr: { src: src }"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{    
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script>

        var viewModel = {
          
            src: ko.observable(""),
            uriKO: ko.observable("@Url.Action("getFile", new { type = "pdf" })"),
            pageKO: ko.observable(3),
            pdf_paramasKO: ko.observable("#view=fit&toolbar=0&navpanes=0&page="),
            Change: function (t, e) {
                $("#vizor").attr("src", "");
                this.src("");
                var target;
                if (e.currentTarget) target = e.currentTarget;
                this.pageKO($(target).data("pag"));
                var self = this;
                setTimeout(function () {
                    self.src(self.srcKO());
                }, 1);
               
            }
        };
        viewModel.srcKO = ko.dependentObservable(function () {            
            return this.uriKO() + this.pdf_paramasKO() + this.pageKO();
        }, viewModel);

        ko.applyBindings(viewModel);

        $(document).ready(function () {
            $("#btnMove").on("click", function () {
                //alert("f");
                //$("embed").attr("src", "Home/getFile?type=pdf#view=fit&toolbar=0&navpanes=0&page=" + $(this).data("pag"));

            });
        });
    </script>
}
