@model searcher.Utils.HTMLTOPDF.Searcher.Respuesta
@{
    ViewBag.Title = "Index2";
}
<style type="">

</style>


<nav>
    <ul>
        <li>
            <input type="text" id="buscador" placeholder="Buscar"/>
        </li>
        @foreach (var item in Model.ubicacion)
	    {
            <li data-pag="@item.pagina" data-left="@item.coordenada" >
                <div class="barra"></div> 
                <p class="menu"> @item.cadenas </p>
            </li>		 
	    }    
    </ul>
</nav>
<div>
    <hr />
    Knockout
    <iframe data-bind="attr: {src: srcKO}" width="60%" height="300"></iframe>
    <br />        
    <button data-bind="click: Change">Move Page </button>
</div>

@section Scripts{    
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script>

        var viewModel = {
            uriKO: ko.observable("@Url.Action("getFile", new { type = "pdf" })"),
            pageKO: ko.observable(1),
            pdf_paramasKO: ko.observable("#toolbar=0&navpanes=0&view=FitH&page="),
            Change: function () {                
                this.pageKO(this.pageKO()+1);                
            }
        };
        viewModel.srcKO = ko.dependentObservable(function () {
            return this.uriKO() + this.pdf_paramasKO() + this.pageKO();
        }, viewModel);

        ko.applyBindings(viewModel);

        $(document).ready(function () {
            $("#btnMove").on("click", function () {
                //$("#emarf").attr("src", $("#myiframe").attr("src"));
            });
        });
    </script>
}
